<IfModule authz_core_module>
    Require all denied
</IfModule>
<IfModule !authz_core_module>
    Deny from all
</IfModule>

#http to https
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

Options All -Indexes

SetEnvIfNoCase User-Agent "^Wget" bad_bot
<Limit GET POST>
	Order Allow,Deny
	Allow from all
	Deny from env=bad_bot
</Limit>